// custom colors
$primary:       #3e1699;
$secondary:     #fee18d;
$success:       #12d112;
$info:          #23eded;
$warning:       #e27305;
$danger:        #5b0000;
$light:         #f6ffff;
$dark:          #99a3b1;

// position map values
$position-values: (
  0: 0,
  5: 5%,
  50: 50%,
  75: 75%,
  100: 100%
);
